Django==5.1.1
python-dotenv==1.0.1
requests==2.31.0  # Required for Web3Forms API calls
gunicorn==21.2.0  # Production-grade WSGI HTTP Server
whitenoise==6.6.0  # For serving static files in production 